.container {
  margin-top: 62px;

  @media (max-width: 900px) {
    margin-top: 24px;
  }
}

.title {
  margin-bottom: 19px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.05em;
  @media (max-width: 900px) {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 29px;
  }
}

.description {
  max-width: 700px;

  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  letter-spacing: 0.05em;

  @media (max-width: 900px) {
    margin-bottom: 20px;
  }
}

.more {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  letter-spacing: 0.05em;

  color: #007abf;

  cursor: pointer;
}

.promo {
  margin-bottom: 40px;

  cursor: pointer;

  @media (max-width: 900px) {
    margin-bottom: 24px;
  }
}

.popular {
  margin-bottom: 40px;

  @media (max-width: 900px) {
    margin-bottom: 16px;
  }
}

.attention {
  margin-bottom: 40px;
  @media (max-width: 900px) {
    margin-bottom: 16px;
  }
}

.in_stock {
  margin-bottom: 40px;
  @media (max-width: 900px) {
    margin-bottom: 16px;
  }
}

.pluses {
  margin-bottom: 40px;
  @media (max-width: 900px) {
    margin-bottom: 0;
  }
}

.map {
  margin-bottom: 64px;
}
