.counter {
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  letter-spacing: 0.05em;
}

.image {
  display: flex;
  justify-content: center;

  margin-bottom: 56px;
}

.more {
  margin-bottom: 51px;
}
