.container {
  margin-top: 25px;
  margin-bottom: 64px;
}
.content {
  margin-top: 20px;
  margin-bottom: 40px;
}
.another {
  margin-bottom: 40px;
}
.anotherArticles {
  display: flex;
}
.anotherArticle {
  margin-right: 20px;
}
