.wrapper {
  display: flex;
  flex-direction: column;
  width: 284px;

  @media (max-width: 1200px) {
    min-width: 131px;
    width: 100%;
  }
}

.img {
  position: relative;
  width: 100%;
  height: 350px;

  overflow: hidden;

  // border: 1px solid #ececec;
  border-radius: 8px;

  margin-bottom: 16px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 1200px) {
    height: 207px;
  }
}

// .inStock {
//   position: absolute;

//   left: 16px;
//   bottom: 16px;

//   padding: 4px;

//   border-radius: 4px;

//   background-color: #e5fff0;

//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 15px;

//   text-align: center;

//   color: #00953c;

//   @media (max-width: 1200px) {
//     left: 8px;
//     bottom: 8px;
//   }
// }

.title {
  margin-bottom: 4px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;

  text-transform: uppercase;
}

.description {
  margin-bottom: 11px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #8e8e8e;

  @media (max-width: 1200px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.prices {
  display: flex;
  align-items: center;

  margin-bottom: 8px;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.new_price {
  margin-right: 17px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.old_price {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #c4c4c4;
  &::after {
    content: '';

    position: absolute;

    top: 50%;
    left: -4px;

    height: 1px;
    width: calc(100% + 8px);

    background-color: #c4c4c4;
  }
}

.button {
  @media (max-width: 1200px) {
    height: 33px;
  }
}
