.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 54px;

  border: 0;
  border-radius: 8px;

  background-color: #000;

  text-decoration: none;
}
.text {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #fff;
}

.mobileButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  min-width: 24px;
}
.burger {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #000;

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    width: 24px;
    height: 2px;
    background-color: #000;
  }
  &::after {
    content: '';
    position: absolute;
    top: 9px;
    width: 24px;
    height: 2px;
    background-color: #000;
  }
}
