.footer {
  padding-top: 40px;
  padding-bottom: 16px;

  background-color: #ececec;

  @media (max-width: 1200px) {
    padding-top: 38px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.container {
  display: flex;
  position: relative;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  min-width: 160px;
  width: 160px;
  height: 86px;

  margin-right: 83px;

  @media (max-width: 1200px) {
    order: 2;
    width: 101px;
    height: 54px;
    min-width: unset;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 47px;
  }
}

.links {
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.catalog {
  margin-right: 83px;

  @media (max-width: 1200px) {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

.catalog__title {
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0;
    width: 100%;
    border-bottom: 1px solid #8e8e8e;

    cursor: pointer;

    &::after {
      content: url('../../../img/footer/arrow.svg');
    }
  }
}

.catalog__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 97px;
  row-gap: 8px;

  @media (max-width: 1200px) {
    display: none;

    &.open {
      display: flex;
      flex-direction: column;
      padding-top: 8px;
      cursor: pointer;
    }
  }
}
.catalog__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.about {
  margin-right: 187px;

  @media (max-width: 1200px) {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
.about__title {
  margin-bottom: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 1px solid #8e8e8e;

    cursor: pointer;

    &::after {
      content: url('../../../img/footer/arrow.svg');
    }
  }
}
.about__links {
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    display: none;

    &.open {
      display: flex;
      flex-direction: column;
      padding-top: 8px;
      cursor: pointer;
    }
  }
}
.about__link {
  margin-bottom: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  color: #000;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__links {
  margin-bottom: 16px;
}
.contacts__link {
  display: flex;

  margin-bottom: 16px;
}
.contacts__link_img {
  position: relative;

  top: 3px;
  margin-right: 8px;
}
.contacts__link_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  & span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}

.contacts__logos {
  display: flex;
  @media (max-width: 1200px) {
    justify-content: space-between;
  }
}
.contacts__logo {
  margin-right: 20px;
  @media (max-width: 1200px) {
    margin-right: 0;
  }
}

.defense {
  position: absolute;
  bottom: 0;
  left: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  @media (max-width: 1200px) {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
