.wrapper {
  padding-bottom: 64px;
  padding-top: 32px;
}
.upperWrapper {
  display: flex;

  margin-bottom: 48px;

  column-gap: 121px;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

.photos {
  flex: 0 0 55%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

.photo {
  &:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  &:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  flex: 1 0 34%;

  display: flex;
  flex-direction: column;
}

.info_header {
  display: flex;
  align-items: center;

  margin-bottom: 4px;
}

.title {
  display: inline-block;
  margin: 0;

  padding-right: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.05em;
}
.inStock {
  display: inline-block;

  background-color: #e6fff0;
  padding: 4px;
  border-radius: 4px;

  margin-bottom: 4px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #00953c;
}

.shortDescription {
  margin-bottom: 4px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;
}

.vendorCode {
  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #8e8e8e;
}
.groups {
  margin-bottom: 40px;
}
.group {
  margin-bottom: 16px;
}

.prices {
  justify-self: flex-end;
  display: grid;
  margin-top: auto;
}

.oldPrice {
  display: inline;
  position: relative;

  width: min-content;

  left: 4px;

  margin-bottom: 0;

  grid-column: 1/2;
  grid-row: 1/2;

  white-space: nowrap;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #c4c4c4;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: calc(100% + 8px);
    height: 1px;
    left: -4px;
    background-color: #c4c4c4;
  }
}
.newPrice {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #000000;
}
.addOrder {
  grid-column: 2/3;
  grid-row: 1/3;
}

.description {
  width: 714px;

  margin-bottom: 48px;
}
.descriptionTitle {
  margin-bottom: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #8e8e8e;
}

.descriptionText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  letter-spacing: 0.05em;
}

.about {
  margin-bottom: 48px;
}

.recommended {
  margin-bottom: 48px;
}

.inStockSlider {
}

.modal {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10000;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  user-select: none;
}

.modal__image {
  position: relative;
  height: 80vh;

  & img {
    width: 100%;
    height: 100%;
  }
}

.modal__cross {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 10px;
  right: -50px;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #404040;
}

.modal__arrow {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;

  width: 40px;
  height: 40px;

  transform: translateY(-50%);

  border-radius: 50%;

  background-color: #404040;
}

.modal__nextArrow {
  right: -50px;

  transform: translateY(-50%) rotateZ(180deg);
}
.modal__prevArrow {
  left: -50px;
}
