.header {
  display: flex;

  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  display: block;
  margin-right: 20px;
  height: 54px;
  width: 101px;
  min-width: 101px;
}

.catalog {
  margin-right: 20px;
}

.search {
  width: 100%;
  margin-right: 25px;
}

.contacts {
  display: block;
  margin-right: 16px;
}
.about {
  margin-right: 16px;
}
