.container {
  margin-top: 25px;
  margin-bottom: 64px;

  @media (max-width: 1200px) {
    margin-top: 8px;
  }
}
.title {
  margin-bottom: 36px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.05em;
  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
.contacts__item {
  flex: 0 1 25%;
  width: min-content;

  margin-bottom: 20px;

  @media (max-width: 1200px) {
    flex: unset;
    width: unset;

    margin-bottom: 12px;
  }
}
.item__title {
  margin-bottom: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 0.05em;

  color: #8e8e8e;

  @media (max-width: 1200px) {
    margin-bottom: 8px;
  }
}
.item__value {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 0.05em;

  color: #000;
  text-decoration: none;
}

.requisites__title {
  margin-bottom: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;

  @media (max-width: 1200px) {
    margin-bottom: 12px;
  }
}

.map {
  margin-bottom: 40px;
  margin-top: 40px;

  @media (max-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 20px;

    iframe {
      height: 343px;
    }
  }
}
