.container {
  margin-top: 25px;
  margin-bottom: 64px;

  @media (max-width: 1200px) {
    margin-top: 20px;
  }
}
.title {
  margin-bottom: 36px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;

  letter-spacing: 0.05em;

  @media (max-width: 1200px) {
    margin-bottom: unset;

    font-size: 24px;
    line-height: 29px;
  }
}
.content {
  position: relative;
  display: flex;
  justify-content: center;
  &::before {
    content: '404';
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 400px;
    line-height: 488px;
    /* identical to box height */

    color: #f2f2f2;

    @media (max-width: 1200px) {
      font-size: 150px;
      line-height: 183px;
    }
  }
  @media (max-width: 1200px) {
    padding-top: 64px;
    padding-bottom: 54px;
  }
}
.img {
  @media (max-width: 1200px) {
    width: 200px;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.another {
  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  letter-spacing: 0.05em;

  & a {
    text-decoration: none;
    color: #007abf;
  }
}
